.mainCont{
    background-color: #1A1A29;
    display: flex;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.abtImg{
    border-radius: 10px;
}
.about-container {
    display: flex;
    flex-direction: column;
    color: white; /* This ensures the text color is white */
    padding: 16px;
    box-sizing: border-box;
}

.about-container h1 {
    margin: 0 0 16px 0;
}

.about-container p {
    margin: 0;
    word-wrap: break-word;
}

.break {
    display: inline-block;
}
.languageButton{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-bottom: 2%;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4%;
    gap:30px
}
.cont{
    margin-left: 13%;
}
@media screen  and (max-width: 760px){
    .cont{
        display: none;
    }
    .aboutStory{

    }
}