.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8%;
}

.mainCont{
    display:flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    gap: 30%;
}
.socials {
    display: flex;
    gap: 2%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(52 175 203);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
    transition: all 0.3s ease;
}

.icon:hover {
    background-color: rgb(52 175 203);
    border-color: black;
}

.icon svg {
    transition: all 0.3s ease;
}

.icon:hover svg {
    fill: black;
    transform: scale(1.5);
}

.heroPics {
    position: relative; /* Necessary for positioning the frame behind the image */
    display: inline-block;
}

.heroP {
    width: 45%;  /* Set your desired image width */
    height: 27vh;
    transition: transform 0.5s ease; /* Smooth rotation effect */
    position: relative; /* For handling z-index */
}

.heroPics::before {
    content: ''; /* Empty content for the frame */
    position: absolute;
    height: 97%;
    bottom: -10px;
    width: 45%;
    margin-left: 2%;
    border: 2px solid rgb(52 175 203); /* Your frame color */
    z-index: -0; /* Ensure the frame stays behind the image */
    transition: transform 0.5s ease; /* Smooth frame rotation */
}

.heroPics:hover .heroP {
    transform: rotate(15deg); /* Rotate the image */
}

.heroPics:hover::before {
    transform: rotate(-15deg); /* Rotate the frame in the opposite direction */
}


.text{
    color: white;
    font:  20px "Roboto", sans-serif;
}

.profession{
    background: linear-gradient(to right, #fcfae9, #dfe9fe);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    animation: colorChange 2.8s infinite;
    font-size: 3.2rem;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
@media screen and (max-width: 760px){
    .details {
        display: flex;
        flex-direction: column-reverse;
    }
    .socials {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 30%

    }
}
