.featureProjectTop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 9%;
}
.projectView{
    /*background-color: rgba(20, 20, 143, 0.35);*/
    background-color: #181824;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5%;
}
.img{
    height: 22vh;
    width: 270px;
    border-radius: 20px;
    margin-top: 2%;
}
.aboutFeaturedProject{
    display: flex;
    flex-direction: row;
    gap : 5%;
    justify-content: center;
}
.repoButton{
    margin-bottom: 2%;
}
.projectViewBorder{
    /*border-color: #7562E0;*/
    /*border-width: 20px;*/
    border-radius: 10px;
    margin-top: 2%;
    background-color: rgba(122, 114, 171, 0.38);
}
.mainCont{
    background-color: #1A1A29;
}
@media screen and (max-width: 760px){
    .aboutFeaturedProject{
        display: flex;
        flex-direction: column;
    }
}