.featureProjectTop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 9%;
}

.projectView {
    background-color: #181824;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5%;
    width: 300px;
    height: 500px;
    padding: 20px;
}

.img {
    height: 22vh;
    width: 270px;
    border-radius: 20px;
    margin-top: 2%;
}

.aboutFeaturedProject {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
}

.repoButton {
    margin-top: auto;
    margin-bottom: 2%;
}

.projectViewBorder {
    border-radius: 10px;
    margin-top: 2%;
    background-color: rgba(122, 114, 171, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 20vh;
}

.mainCont {
    background-color: #1A1A29;
}

.text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 0 10px;
}

.headerText {
    color: #7562E0;
    text-align: center;
    margin-top: 10px;
}
@media screen and (max-width: 760px){
    .aboutFeaturedProject{
        display: flex;
        flex-direction: column;
    }
}