.details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
    align-items: center;
    gap: 45%;
}
.heroP{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.mainCont{
    display:flex;
    flex-direction: column;
    background-color: #1A1A29;

}
.socials{
    display: flex;
    margin-left: 10%;
    gap : 2%
}
.heroPics{
    margin-top: 5%;
}
