.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8%;
}
.heroP{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position : top;
}
.mainCont{
    display:flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    gap: 30%;
}
.socials {
    display: flex;
    gap: 2%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(52 175 203);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
    transition: all 0.3s ease;
}

.icon:hover {
    background-color: rgb(52 175 203);
    border-color: black;
}

.icon svg {
    transition: all 0.3s ease;
}

.icon:hover svg {
    fill: black;
    transform: scale(1.5);
}

.heroPics{
    margin-top: 5%;
}
.text{
    color: white;
    font:  20px "Roboto", sans-serif;
}

.profession{
    background: linear-gradient(to right, #fcfae9, #dfe9fe);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    animation: colorChange 2.8s infinite;
    font-size: 5.2rem;
}
@media screen and (max-width: 760px){
    .details {
        display: flex;
        flex-direction: column-reverse;
    }
    .socials {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 30%

    }
}
