.socials{
    display: flex;
    gap: 2%;
}
.mainCont{
    background-color: #1A1A29;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content : space-around;
}

.inputField{
    display: flex;
    flex-direction: column;
}
.inputBox{
    width: 60%;
    margin-bottom: 2%;
    background-color: #181824;
    border:  10px;
    color: white;
    border-radius: 5px;
}
.lastPartFooter{
    margin-left: 8%;
}


@media  screen and (max-width: 760px) {
    .connect {
        display: none;
    }

}