.socials{
    display: flex;
    gap: 2%;
}
.mainCont{

}
.content{
    display: flex;
    flex-direction: row;
    justify-content : space-around;
}

.inputField{
    display: flex;
    flex-direction: column;
}
.inputBox{
    width: 60%;
    margin-bottom: 2%;
}
.lastPartFooter{
    margin-left: 8%;
}