.mainCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1A1A29;

}
.link{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
@media screen and (max-width: 760px){
    .mainCont {
        display: none;
    }
}
